:local(.container) {

  background: #333333;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 20vh;
}


:local(.container.flick) :local(.flicker) {
	transform: rotateY(180deg);
}

:local(.flicker) {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

:local(.word), :local(.score) {
	backface-visibility: hidden;
}

:local(.word) {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

:local(.score) {
	transform: rotateY(180deg);
}
