@import '../index.scss';

body {
	background: green;
}

.container {
	.deck {
		width: 100%;
		height: 100%;
	}
}


@media (max-width: $screen-xs-max) {
 
.container {
	.deck {
		align: center;
		.card {
			border: 1px solid transparent;
			width: 45vw;
			height: 60vw;
    	margin-bottom: -58vw;
    	margin-left: 20vw;
    	text-align: center;
			transform: translate(-20vw,0);
    	transition: 0.7s;
			&:hover {
				transform: translate(28vw,0);
    		transition: 0.7s;
			}
		}
		.firstcard {
    	margin-left: 20vw;
		}
	}
}

}

@media (min-width: $screen-sm-min) {
 
.container {
	.deck {
		.card {
			float: left;
			border: 1px solid transparent;
			width: 15vw;
			height: 22vw;
    	margin-left: -14vw;
    	margin-top: 20vh;
    	text-align: center;
			transform: translate(0,-20vh);
    	transition: 0.7s;
			&:hover {
				transform: translate(0,20vh);
    		transition: 0.7s;
			}
		}
		.firstcard {
    	margin-left: 0vw;
		}
	}
}

}