@import '../index.scss';

:local(.card) {
  
  text-align: center;
  font-family: sans-serif;
  // width: 100%;
  // height: 0;

  &:local(.drawn) {
    transform: rotate(360deg) rotateY(180deg);
    transition: 0.8s;
  }

  &:local(.flipped) {
    transform: translate(0px,0px);
    transition: 0.8s;
  }

  :local(.back), :local(.word), :local(.score) {
    display: inline-block;
    vertical-align: middle;
  }

  :local(.back) {
    background-image: url("card_back.jpg");
    background-size: cover;
    padding-bottom: 130%;
    &:local(.shown) {
      display: block;
    }
    &:local(.hidden) {
      display: none;
    }
  }

  :local(.word) {
    background: #aaaaaa;
    &:local(.shown) {
      display: block;
      transform: rotateY(180deg);
    }
    &:local(.hidden) {
      display: none;
    }
  }

  :local(.score) {
    background: #aaaaaa;
    &:local(.hidden) {
      display: none;
    }
    &:local(.shown) {
      display: block;
      transform: rotateY(360deg);
    } 

  }

}

@media (max-width: $screen-xs-max) {
  :local(.card) {
    :local(.back), :local(.word), :local(.score) {
      border: 2px solid white;
      border-radius: 10px;
      // line-height: 40vh;
      // font-size: 7vw;
    }
    :local(.back) {
      padding-bottom: 130%;
    }
    :local(.word), :local(.score) {
      padding-bottom: 120%;
    }
  }
}

@media (min-width: $screen-sm-min) {
  :local(.card) {
    :local(.back), :local(.word), :local(.score) {
      border: 2px solid white;
      border-radius: 10px;
      // line-height: 3vh;
      // font-size: 1vw;
    }
    :local(.back) {
      padding-bottom: 130%;
    }
    :local(.word), :local(.score) {
      padding-bottom: 117%;
    }
  }
}