@import '../index.scss';

:local(.card) {
  
  text-align: center;
  font-family: sans-serif;
  height: 100%;

  &:local(.init) {
    width: auto; // this is just to not have an empty style
  }

  &:local(.drawn) {
    transform: rotate(360deg) rotateY(180deg);
    transition: 0.8s;
  }

  &:local(.flipped) {
    transform: translate(0px,0px);
    transition: 0.8s;
  }

  :local(.back), :local(.word), :local(.score) {
    border: 2px solid white;
    border-radius: 10px;
    height: 100%;
  }

  :local(.back) {
    background-image: url("card_back.jpg");
    background-size: cover;
    &:local(.shown) {
      display: block;
    }
    &:local(.hidden) {
      display: none;
    }
  }

  :local(.word) {
    background: #aaaaaa;
    &:local(.shown) {
      display: block;
      transform: rotateY(180deg);
    }
    &:local(.hidden) {
      display: none;
    }
  }

  :local(.score) {
    background: #aaaaaa;
    &:local(.hidden) {
      display: none;
    }
    &:local(.shown) {
      display: block;
      transform: rotateY(360deg);
    } 

  }

}

@media (max-width: $screen-xs-max) {
  :local(.card) {
    :local(.back), :local(.word), :local(.score) {
    }
    :local(.back) {
    }
    :local(.word), :local(.score) {
    }
  }
}

@media (min-width: $screen-sm-min) {
  :local(.card) {
    :local(.back), :local(.word), :local(.score) {
    }
    :local(.back) {
    }
    :local(.word), :local(.score) {
    }
  }
}