@import '../index.scss';

.card {
  
  font-family: sans-serif;
  font-size: calc(3vw + 3vh);
  height: 100%;
  transition: transform 0.8s;

  &.init {
    width: auto;
    transform: rotateY(180deg);
  }

  &.drawn {
    transform: rotateZ(360deg);
  }

  &.flipped {
  }

  .back, .word, .score {
    border: 2px solid white;
    border-radius: 10px;
    height: 100%;
  }

  .back {
    background-image: url("../../../images/card_back.jpg");
    background-size: cover;
    &.shown {
      display: block;
    }
    &.hidden {
      display: none;
    }
  }

  .word {
    background: #aaaaaa;
    &.shown {
      display: block;
    }
    &.hidden {
      display: none;
    }
  }

  .score {
    background: #aaaaaa;
    &.hidden {
      display: none;
    }
    &.shown {
      display: block;
      transform: rotateY(360deg);
    } 

  }

}

@media (max-width: $screen-xs-max) {
  .card {
    .word {
      line-height: 55vw;
      font-size: calc(3vw + 3vh);
    }
    .score {
      .big {
        line-height: 45vw;
        font-size: calc(8vw + 8vh);
      }
      .small {
        font-size: calc(2vw + 2vh);
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .card {
    .word {
      line-height: 20vw;
      font-size: calc(1.5vw + 1.5vh);
    }
    .score {
      .big {
        line-height: 15vw;
        font-size: calc(6vw + 6vh);
      }
      .small {
        font-size: calc(1vw + 1vh);
      }
    }
  }
}