:local(.container) {

	list-style-type: none;
	height: 100%;

	:local(.scoreboard) {
  	height: 15vh;
	}

	:local(.deck) {

  	height: 85vh;
		margin: 0;
		padding: 0;

		:local(.card) {

  	  display: -moz-inline-stack;
  	  display: inline-block;
  	  vertical-align: top;
  		width: 48vw;
  		height: 50vh;
  		margin: 4px 1px 1px 2px;

		}
	}
}