/* entire container, keeps perspective */


/* flip speed goes here */
:local(.flipper) {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
:local(.front), :local(.back) {
	backface-visibility: hidden;
	/*position: absolute;
	top: 0;
	left: 0;*/
}

.flip {
	transform: rotateY(180deg);
}

/* front pane, placed above back */
:local(.front) {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
:local(.back) {
	transform: rotateY(180deg);
}


:local(.container) {

	/*perspective: 1000;*/
  background: #333333;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
	font-family: sans-serif;
	font-size: 20vh;
}